body {
    background: linear-gradient(to right, orange, hotpink);
    justify-content: center;
    display: flex;
}
.container {
    background-color: white;
    border: none;
    border-radius: 20px;
    margin-top: 7rem;
    height: 13rem;
    width: 22rem;
    overflow-y: auto;
}
h1 {
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
.far {
    justify-content: center;
    display: flex;
}
.second {
    background-color: white;
    height: 2.5rem;
    width:19rem;
    display: flex;
    box-shadow: 0px 0px 20px black;
    border-radius: 24px;
}
#userinput {
    border: none;
    outline: none;
    background-color: white;
    width: 14rem;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 1rem;
}
#btn {
    width: 5rem;
    border-radius: 24px;
    background-color: orange;
    border: none;
    outline: none;
    cursor: pointer;
}
.resolve {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}
.result {
    flex-direction: column;
    display: flex;
    gap: 10px;
}